<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Umrah Expense Calculator</title>
  <style>
html{
  display: flex;
  flex-flow: column;
  justify-content:center ;
  align-items:center ;
  position: relative;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}   
h1 {
  text-align: center;
}
form {
  max-width: 400px;
    margin: 0 auto;
}
label, input, select {
  display: flex;
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
}
  </style>
</head>
<body>
<h1>Umrah Travel Expense Calculator</h1>
<form action="/calculate" method="POST">
  <label for="start-date">Start Date</label>
  <input type="date" id="date-start" name="start-date"><br>
  <label for="end-date">End Date</label>
  <input type="date" id="date-end" name="end-date"><br>
  <!-- <label for="num_nights">Number of Nights:</label>
  <input type="number" id="num_nights" name="num_nights"><br> -->
  <!-- <label for="distance">Distance from Mecca/Medina:</label>
  <input type="number" id="distance" name="distance" required><br> -->
  <label for="room-type">Room Type:</label>
  <select id="room-type" name="room_type" required>
    <option value="double">Double Occupancy</option>
    <option value="triple">3 Persons Occupancy</option>
    <option value="quad">4 Persons Occupancy</option>
  </select><br>
    
  <label for="occupancy">Number of Occupants:</label>
  <input type="number" id="occupancy" name="occupancy" required><br>
    
<button type="submit">Calculate</button>
</form>
</body>
</html>